.programWrapper {
    background-color: #353a46;
    border: white solid;
    border-radius: 30px;
    padding: 50px;

    width: 100%;
    max-width: 1440px;
}

.programWrapper h2 {
    margin-top: -10px;
    color: #95b5ff;
}

.programDescription {
    margin-bottom: 4dvb;
}

.programDescription i {
    font-family: monospace;
    color: rgb(255, 115, 0);
    font-size: large;
}